@import 'fonts.css';

body {
  /* background: gray; */
  font-family: 'Open Sans';
}

ul,li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-bar {
  background: #fff;
  padding: 20px 0;
  color: #212121;
}
.menu__item {
  margin-left: 37px;
}
.menu__item a {
  font-family: 'Open Sans Semibold';
  font-size: 20px;
  color: #212121;
}

.menu__item a:hover {
  text-decoration: none;
  color: #d6d0d0;
}

/*Шапка*/

.header > div {
  color: #fff;
  padding: 180px 0;
  text-align: center;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
}
.header__title {
  font-style: 55px;
}
.header__text {
  font-style: 20px;
  margin-bottom: 100px;
}
.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: white;
  transition: 0.2s;
}
.button_empty {
  background: transparent;
  border: 2px solid white;
}
.button_full {
  background: #00897b;
  border: 2px solid #00897b;
}

.button_empty:hover,
.button_full:hover {
  border: 2px dotted white;
  background: #045f56ad;
}

/*О нас*/
.about {
  color: black;
  background: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 125px;
}

/* .fa_one{

}   */

.about__title {
  font-size: 30px;
  font-weight: bold;
}
.about__text {
  font-size: 15px;
  margin-bottom: 110px;
  color: #212121;
}

.about_h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semibold';
  font-size: 20px;
}


/*Наши услуги*/

.services {
  color: black;
  background: #e4fdf9;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 125px;
}

.our_card {
  background: white;
  padding: 50px 20px 40px;
  transition: 0.3s;
  margin-bottom: 30px;
}
.our_card:hover {
  background: #00897b;
  color: white;
  box-shadow: 0px 10px 12px -3px rgba(0,0,0,0.26);
}
.our_card:hover .icon {
  color: white;
}
.icon {
  transition: 0.3s;
  font-size: 60px;
  color: black;
}
.our_card:hover .button-services {
  border: 2px solid white;
  color: white;
}
.button-services {
  transition: 0.3s;
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  background: transparent;
  padding: 14px 12px 14px;
  font-family: 'Open Sans Semibold';
}
.button-services:hover {
  cursor: pointer;
}

